@using BusServiceApplication.Pages.StudentComponents;
@using BusServiceApplication.Pages.BusRoutComponenet;
@page "/ParentPage/{UserName}"
@inject LoginPageService loginPageService

<h1>Welcome @thisUserDetails.firstName</h1>
<p>
    Below are the details we have for you
</p>

<div class="container">
    <div class="row">
        <div class="col-lg-12 border border-primary">
            <h1>Welcome @thisUserDetails.firstName</h1>
            <p> Below is a summary page regarding your profile. </p>
           
            <div class="container ">
                <div class="row">
                    <div class="col-lg-4 align-content-center border border-primary">
                        <div class=" align-content-center">
                            <h2> @thisUserDetails.firstName @thisUserDetails.lastName Details</h2>
                            <p>Below are the details we have for you</p>
                            <ul class="list-group">
                                <li class="list-group-item">DB ID : @thisUserDetails.Id</li>
                                <li class="list-group-item">Name : @thisUserDetails.firstName</li>
                                <li class="list-group-item">Surname : @thisUserDetails.lastName</li>
                                <li class="list-group-item">Contact Number : @thisUserDetails.phoneNumber</li>
                                <li class="list-group-item">Email address : @thisUserDetails.emailAddress</li>
                                <li class="list-group-item"><button class="btn btn-primary">Update</button></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8  border border-primary">
                        <div>
                            <DisplayListOfStudents ParentID="thisUserDetails.Id" /> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-3">
                            Container 3
                            <BusRoutCompinenets ParentID="thisUserDetails.Id" />
                            <AddStudent ParentID="@thisUserDetails.Id" />


                            <h1> New Componenet </h1>
                            <DisplayStudentOnBus ParentIDForStudentsUnderParent="@thisUserDetails.Id" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public string UserName { get; set; }
    public ParentDetails thisUserDetails { get; set; }

    //this code will run when the page is loaded.Allowing us to set up data on load
    protected override async Task OnInitializedAsync()
    {
        thisUserDetails = loginPageService.GetParentObjectWithUserName(UserName);
        // All methods  that should run on load
    }




}
