@using BusServiceApplication.Shared;
@using BusServiceApplication.HelperMethods;
@inject StudentService studentServices;
@inject NavigationManager navigationManager;
@using BusServiceApplication.Shared;
@using BusServiceApplication.HelperMethods;


<h3 class=" text-center mb-4">Add Student</h3>
<h5 class="row justify-content-center text-center">Please enter the details the child you would like to register for this service </h5>

<div class="container">
    <div class="row justify-content-center ">

        <div class="col-md-6">
            <EditForm Model="student" OnValidSubmit="HandleAddingStudent">
                <div class="mb-3">
                    <label for="studentFirstName" class="form-label">Student FirstName</label>
                    <InputText id="studentFirstName" @bind-Value="@student.Name" class="form-control"></InputText>
                </div>
                <div class="mb-3">
                    <label for="studentSurname" class="form-label">Student Surname</label>
                    <InputText id="studentSurname" @bind-Value="@student.Surname" class="form-control"></InputText>
                </div>
                <div class="mb-3">
                    <label for="studentCellphoneNumber" class="form-label">Student CellphoneNumber</label>
                    <InputText id="studentCellphoneNumber" @bind-Value="@student.CellphoneNumber" class="form-control"></InputText>
                </div>
                <div class="mb-3">
                    <label class="form-label">Student Grade</label>
                    <select @bind="student.Grade" class="form-select">
                        <option enabled>Select Grade</option>
                        @foreach (var item in grades)
                        {
                            <option value="@item.Grade">@item.Grade</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    </div>
</div>




@code {
    StudentDetails student = new StudentDetails();

    //get the parent ID 
    [Parameter]
    public int ParentID { get; set; }

    public void HandleAddingStudent(EditContext editContext)
    {
        var newStudent = (StudentDetails)editContext.Model;
        newStudent.CreatedDate = DateTime.Now;
        newStudent.childUserNameId = newStudent.Name + newStudent.CellphoneNumber;
        newStudent.ParentId = ParentID;
        studentServices.AddStudent(newStudent);
        Refresh();
    }

    public void Refresh()
    {
        var refreshPage = new RefreshPage(navigationManager);
        refreshPage.refreshApplication();
    }


    //Creating a class that will hold our drop down list values 
    //Used this method so more grades can be added at later point if need be 
    public class Grades
    {
        public string Grade { get; set; }
    }

    //Create list 
    List<Grades> grades = new List<Grades>
    {
        new Grades() {Grade = "8" },
        new Grades() {Grade = "9" },
        new Grades() {Grade = "10" },
        new Grades() {Grade = "11" },
        new Grades() {Grade = "12" },
    };


}
